* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
    font-family: Arial, sans-serif; /* Fuente general */
    font-size: 16px; /* Tamaño de fuente base */
}

header {
    background-color: #267a50; /* Verde claro */
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    background-image: url(img/portada.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}

header img {
    width: 20%;
    height: auto;
}

h1 {
    color: #ffffff; /* Blanco */
    text-shadow: 1px 1px 0px black, 
                         -1px -1px 0px black, 
                         1px -1px 0px black, 
                         -1px 1px 0px black;
}

h4 {
    color:  #ffffff; /* Blanco */
    font-size: 1.2em;
    text-shadow: 1px 1px 0px black, 
                         -1px -1px 0px black, 
                         1px -1px 0px black, 
                         -1px 1px 0px black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples líneas si es necesario */
}

nav ul li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333333; /* Negro */
    border-radius: 5px;
    background-color: #ffffff; /* Blanco */
}

nav ul li a {
    text-decoration: none;
    color: #333333; /* Negro */
    display: block;
}

main {
    padding: 20px;
}

footer {
    background-color: #333333; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 10px;
}

/* Estilos de la sección "Inicio" */
#inicio {
    background-color: #FFFFFF; /* Blanco */
    padding: 50px 0;
    text-align: center;
    color: #333333; /* Negro */
}

#inicio h2 {
    font-size: 2.5em;
}

#inicio p {
    font-size: 1.2em;
    margin: 20px 0;
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    display: flex;
    flex-wrap: wrap;
}

table td {
    flex: 1 1 100%; /* Ajusta cada celda para que ocupe toda la fila en dispositivos pequeños */
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ddd;
}

table td h3 {
color: #1a8c3a;
font-size: 1.5rem;
}

@media (min-width: 768px) {
    table td {
        flex: 1 1 33.33%; /* En pantallas más anchas, cada celda ocupará un tercio de la fila */
    }
}


.beneficios {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap; /* Para que las columnas se ajusten en dispositivos más pequeños */
}

.beneficio {
    flex: 1 1 calc(33.333% - 40px); /* Tres columnas con espacio entre ellas */
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    text-align: center;
}

.beneficio img {
    width: 100px;
    margin-bottom: 20px;
}

.beneficio h3 {
    font-size: 1.5em;
}

.beneficio p {
    font-size: 1.1em;
    text-align: justify;
}

/* Contenedor principal */
#sobre-nosotros .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Estilos para los encabezados */
#sobre-nosotros h2 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#sobre-nosotros p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

/* Resaltado de texto importante */
#sobre-nosotros strong {
    color: #2c3e50;
}

/* Video */
.video-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.video-container iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sobre-nosotros h2 {
        font-size: 1.5em;
    }

    #sobre-nosotros p {
        font-size: 1em;
    }

    .video-container iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    #sobre-nosotros h2 {
        font-size: 1.3em;
    }

    #sobre-nosotros p {
        font-size: 0.95em;
    }

    .video-container iframe {
        height: 250px;
    }
}

/* Estilos de la sección "Servicios" */
#servicios {
    background-color: #F2F2F2; /* Gris claro */
    padding: 50px 0;
    text-align: center;
    color: #333333; /* Negro */
}

#servicios h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #2a4d14; /* Cambia esto al color que prefieras */
}

.servicios-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.servicio {
    flex: 1 1 calc(50% - 20px); /* 50% width minus gap */
    text-align: center;
    box-sizing: border-box;
}

.servicio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.servicio h3 {
    color: #2a4d14; /* Cambia esto al color que prefieras */
    margin-bottom: 20px;
}

.servicio p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
    color: #555;
}

/* Media query para pantallas pequeñas (como en móviles) */
@media (max-width: 768px) {
    .servicios-grid {
        flex-direction: column; /* Cambia la dirección de los elementos a columna */
        align-items: center; /* Centra los elementos */
    }

    .servicio {
        flex: 1 1 100%; /* Asegura que cada servicio ocupe toda la línea */
        margin-bottom: 30px; /* Espacio entre los servicios */
    }
}

#ventajas {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#ventajas h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.ventajas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ventaja {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.ventaja img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.ventaja h3 {
    font-size: 1.5rem;
    color: #007b5e;
    margin-bottom: 10px;
}

.ventaja p {
    font-size: 1rem;
    color: #666;
}

.ventaja:hover {
    transform: translateY(-10px);
}


/* Estilos para cada ítem de pregunta y respuesta */
.faq-item {
    margin-bottom: 20px; /* Espacio entre ítems */
    text-align: justify; /* Justificar el texto */
}

.faq-item h3 {
    color: #333; /* Color del título */
}

.faq-item p {
    color: #666; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    line-height: 1.6; /* Espaciado entre líneas */
}

#servicios .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos del botón flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 15%; /* Ancho cuadrado */
    height: 15%; /* Altura cuadrada */
    background-image: url(img/whatsappboton.png); /* Ruta de tu imagen */
    background-size: cover; /* Para que la imagen se ajuste al botón */
    text-indent: -9999px; /* Oculta el texto del botón */
    cursor: pointer;
    background-position: center; /* Posición centrada de la imagen */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Estilo personalizado para el botón de Mercado Pago */
.mercadopago-button {
    background-color: #e53935 !important; /* Cambiar el color de fondo */
    color: white !important; /* Cambiar el color del texto */
    border-radius: 5px !important; /* Redondear bordes */
    padding: 5px 5px !important; /* Cambiar el tamaño */
    font-size: 16px !important; /* Cambiar el tamaño de la fuente */
}

.mercadopago-button:hover {
    background-color: #dd1515 !important; /* Rojo más oscuro cuando el ratón pasa por encima */
}

.contact {
    background: #fff;
    font-size: 18px; /* Tamaño de fuente de la sección de contacto */
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact input, .contact select, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background: #00796b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tamaño de fuente del botón de contacto */
}

.contact button:hover {
    background: #004d40;
}

.btn-social {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-mercadopago {
    background: linear-gradient(45deg, #00c4a3, #007bbf);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.boton-mercadopago:hover {
    background: linear-gradient(45deg, #007bbf, #00c4a3);
    transform: scale(1.05);
}

/* Estilo de la sección de contacto */
#contacto {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

#contacto h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

#contacto p {
    font-size: 1.1rem;
    color: #666;
}

.contact-details a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

#oferta {
    text-align: center;
    padding: 50px 20px;
    background-color: #f5f5f5;
}

.oferta-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333;
}

.envio {
    font-size: 1.1rem;
    color: #2a9d8f;
    margin-bottom: 20px;
}

.oferta-imagen {
    width: 50%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.precio {
    font-size: 1.5rem;
    margin-bottom: 30px;
    color: #333;
}

.precio-bitcoin {
    color: #f1a408;
}

.botones-pago a {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.boton-bitcoin {
    background-color: #f1a408;
}

.boton-mercadopago {
    background-color: #00a859;
}

.botones-pago a:hover {
    opacity: 0.8;
}
