* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en m칰ltiples l칤neas si es necesario */
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%; /* Asegura que el cuerpo ocupe toda la altura */
    font-family: Arial, sans-serif; /* Fuente general */
    font-size: 16px; /* Tama침o de fuente base */
}

header {
    background-color: #267a50; /* Verde claro */
    padding: 0;
    text-align: center;
    font-size: 1.5em;
    background-image: url(img/portada.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed; /* Mantiene la imagen fija al hacer scroll */
}

header img {
    width: 20%;
    height: auto;
}

h1 {
    color: #ffffff; /* Blanco */
    text-shadow: 1px 1px 0px black, 
                         -1px -1px 0px black, 
                         1px -1px 0px black, 
                         -1px 1px 0px black;
}

h4 {
    color:  #ffffff; /* Blanco */
    font-size: 1.2em;
    text-shadow: 1px 1px 0px black, 
                         -1px -1px 0px black, 
                         1px -1px 0px black, 
                         -1px 1px 0px black;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en m칰ltiples l칤neas si es necesario */
}

nav ul li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #333333; /* Negro */
    border-radius: 5px;
    background-color: #ffffff; /* Blanco */
}

nav ul li a {
    text-decoration: none;
    color: #333333; /* Negro */
    display: block;
}

main {
    padding: 20px;
}

footer {
    background-color: #333333; /* Gris oscuro */
    color: #FFFFFF; /* Blanco */
    text-align: center;
    padding: 10px;
}

/* Estilos de la secci칩n "Inicio" */
#inicio {
    background-color: #FFFFFF; /* Blanco */
    padding: 50px 0;
    text-align: center;
    color: #333333; /* Negro */
}

#inicio h2 {
    font-size: 2.5em;
}

#inicio p {
    font-size: 1.2em;
    margin: 20px 0;
    text-align: justify;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table tr {
    display: flex;
    flex-wrap: wrap;
}

table td {
    flex: 1 1 100%; /* Ajusta cada celda para que ocupe toda la fila en dispositivos peque침os */
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ddd;
}

table td h3 {
color: #1a8c3a;
font-size: 1.5rem;
}

@media (min-width: 768px) {
    table td {
        flex: 1 1 33.33%; /* En pantallas m치s anchas, cada celda ocupar치 un tercio de la fila */
    }
}


.beneficios {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap; /* Para que las columnas se ajusten en dispositivos m치s peque침os */
}

.beneficio {
    flex: 1 1 calc(33.333% - 40px); /* Tres columnas con espacio entre ellas */
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    text-align: center;
}

.beneficio img {
    width: 100px;
    margin-bottom: 20px;
}

.beneficio h3 {
    font-size: 1.5em;
}

.beneficio p {
    font-size: 1.1em;
    text-align: justify;
}

/* Contenedor principal */
#sobre-nosotros .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #333;
}

/* Estilos para los encabezados */
#sobre-nosotros h2 {
    font-size: 2em;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

#sobre-nosotros p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #555;
    text-align: justify;
}

/* Resaltado de texto importante */
#sobre-nosotros strong {
    color: #2c3e50;
}

/* Video */
.video-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.video-container iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 8px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #sobre-nosotros h2 {
        font-size: 1.5em;
    }

    #sobre-nosotros p {
        font-size: 1em;
    }

    .video-container iframe {
        height: 300px;
    }
}

@media (max-width: 480px) {
    #sobre-nosotros h2 {
        font-size: 1.3em;
    }

    #sobre-nosotros p {
        font-size: 0.95em;
    }

    .video-container iframe {
        height: 250px;
    }
}

/* Estilos de la secci칩n "Servicios" */
#servicios {
    background-color: #F2F2F2; /* Gris claro */
    padding: 50px 0;
    text-align: center;
    color: #333333; /* Negro */
}

#servicios h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #2a4d14; /* Cambia esto al color que prefieras */
}

.servicios-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.servicio {
    flex: 1 1 calc(50% - 20px); /* 50% width minus gap */
    text-align: center;
    box-sizing: border-box;
}

.servicio img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.servicio h3 {
    color: #2a4d14; /* Cambia esto al color que prefieras */
    margin-bottom: 20px;
}

.servicio p {
    font-size: 1.1em;
    text-align: justify;
    margin-bottom: 20px;
    color: #555;
}

/* Media query para pantallas peque침as (como en m칩viles) */
@media (max-width: 768px) {
    .servicios-grid {
        flex-direction: column; /* Cambia la direcci칩n de los elementos a columna */
        align-items: center; /* Centra los elementos */
    }

    .servicio {
        flex: 1 1 100%; /* Asegura que cada servicio ocupe toda la l칤nea */
        margin-bottom: 30px; /* Espacio entre los servicios */
    }
}

#ventajas {
    background-color: #f9f9f9;
    padding: 40px 0;
    text-align: center;
}

#ventajas h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.ventajas-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.ventaja {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.ventaja img {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.ventaja h3 {
    font-size: 1.5rem;
    color: #007b5e;
    margin-bottom: 10px;
}

.ventaja p {
    font-size: 1rem;
    color: #666;
}

.ventaja:hover {
    transform: translateY(-10px);
}


/* Estilos para cada 칤tem de pregunta y respuesta */
.faq-item {
    margin-bottom: 20px; /* Espacio entre 칤tems */
    text-align: justify; /* Justificar el texto */
}

.faq-item h3 {
    color: #333; /* Color del t칤tulo */
}

.faq-item p {
    color: #666; /* Color del texto */
    font-size: 16px; /* Tama침o del texto */
    line-height: 1.6; /* Espaciado entre l칤neas */
}

#servicios .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos del bot칩n flotante de WhatsApp */
.whatsapp-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    width: 15%; /* Ancho cuadrado */
    height: 15%; /* Altura cuadrada */
    background-image: url(img/whatsappboton.png); /* Ruta de tu imagen */
    background-size: cover; /* Para que la imagen se ajuste al bot칩n */
    text-indent: -9999px; /* Oculta el texto del bot칩n */
    cursor: pointer;
    background-position: center; /* Posici칩n centrada de la imagen */
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }

  img {
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}

/* Estilo personalizado para el bot칩n de Mercado Pago */
.mercadopago-button {
    background-color: #e53935 !important; /* Cambiar el color de fondo */
    color: white !important; /* Cambiar el color del texto */
    border-radius: 5px !important; /* Redondear bordes */
    padding: 5px 5px !important; /* Cambiar el tama침o */
    font-size: 16px !important; /* Cambiar el tama침o de la fuente */
}

.mercadopago-button:hover {
    background-color: #dd1515 !important; /* Rojo m치s oscuro cuando el rat칩n pasa por encima */
}

.contact {
    background: #fff;
    font-size: 18px; /* Tama침o de fuente de la secci칩n de contacto */
}

.contact form {
    max-width: 600px;
    margin: 0 auto;
}

.contact input, .contact select, .contact textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    background: #00796b;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Tama침o de fuente del bot칩n de contacto */
}

.contact button:hover {
    background: #004d40;
}

.btn-social {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.boton-mercadopago {
    background: linear-gradient(45deg, #00c4a3, #007bbf);
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    transition: all 0.3s ease;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.boton-mercadopago:hover {
    background: linear-gradient(45deg, #007bbf, #00c4a3);
    transform: scale(1.05);
}

/* Estilo de la secci칩n de contacto */
#contacto {
    padding: 50px;
    background-color: #f9f9f9;
    text-align: center;
}

#contacto h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

#contacto p {
    font-size: 1.1rem;
    color: #666;
}

.contact-details a {
    color: #4CAF50;
    text-decoration: none;
}

.contact-details a:hover {
    text-decoration: underline;
}

/* 游댛 Barra superior fija */
#barra-oferta {
  position:relative;
  width: 100%;
  background: linear-gradient(90deg, #0a7a3f, #4caf50);
  color: white;
  text-align: center;
  padding: 8px 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  z-index: 1000;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#barra-contador {
  background: rgba(255,255,255,0.2);
  padding: 4px 10px;
  border-radius: 8px;
}

/* --- Estilos de las ofertas --- */
#oferta {
  background: #f9f9f9;
  padding: 40px 10px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.titulo-ofertas {
  font-size: 2em;
  color: #0a7a3f;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 1.1em;
  color: #333;
  margin-bottom: 25px;
}

.contador {
  font-size: 1.2em;
  background: #ffe7a0;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  font-weight: bold;
}

.oferta-item {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 25px;
  margin: 30px auto;
  max-width: 600px;
  transition: transform 0.3s;
}

.oferta-item:hover {
  transform: scale(1.02);
}

.oferta-imagen {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 15px;
}

.precio-original {
  text-decoration: line-through;
  color: #777;
  font-size: 1.2em;
  margin: 5px 0;
}

.precio-descuento {
  font-size: 1.6em;
  color: #0a7a3f;
  font-weight: bold;
  margin-bottom: 8px;
}

.transferencia {
  font-size: 1em;
  color: #0a7a3f;
  font-weight: 500;
}

.boton-mercadopago {
  display: inline-block;
  background-color: #009ee3;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-top: 10px;
  transition: 0.3s;
}

.boton-mercadopago:hover {
  background-color: #007cb8;
}
